.dmc-popover {
	position: relative;
	overflow: visible;
}

.dmc-popover__dropdown {
	position: absolute;
	background: white;
	display: flex;
	justify-content: space-between;
	text-wrap: nowrap;
	padding: calc(2 * var(--spacing));
	border: 1px solid var(--color-active);
	border-radius: 4px;
	top: 0;
	right: 0;
	z-index: 10;
}
.dmc-popover__dropdown:not(.dmc-popover__dropdown--open) {
	display: none;
}
