/* .text-primary {
	color: var(--color-primary);
}
.text-secondary {
	color: var(--color-secondary);
}
.text-accent {
	color: var(--color-accent);
}
.text-success {
	color: var(--color-success);
}
.text-warning {
	color: var(--color-warning);
}
.text-info {
	color: var(--color-info);
}
.text-danger {
	color: var(--color-danger);
}
.dmc-bg-primary {
	@apply dmc-bg-primary;
}
.dmc-bg-secondary {
	@apply dmc-bg-secondary;
}
.dmc-bg-accent {
	@apply dmc-bg-accent;
}
.dmc-bg-success {
	@apply dmc-bg-success;
}
.dmc-bg-warning {
	@apply dmc-bg-warning;
}
.dmc-bg-info {
	@apply dmc-bg-info;
}
.dmc-bg-danger {
	@apply dmc-bg-danger;
}
.dmc-bg-danger {
	@apply dmc-bg-danger;
} */
