@utility border-color {
	border-color: var(--border-color);
}
@utility divide-color {
	border-color: var(--border-color);
}

@utility mdc-bg-* {
	background-color: --value(--color- *);
	color: --value(--color-on- *);
}
