@reference "@style";

.dmc-btn {
	@apply relative flex items-center justify-center select-none cursor-pointer rounded px-4 py-2   text-base uppercase box-border overflow-hidden focus:outline-none focus-visible:outline-none shadow !shadow-black/50;
	&:not(:disabled, .dmc-btn--disabled, .dmc-btn--loading) {
		&:hover {
			@apply shadow-xl;
		}
		&:focus {
			@apply shadow-lg;
		}
		&:active {
			@apply scale-[0.98] shadow-none;
		}
	}
}
.dmc-btn:disabled,
.dmc-btn--disabled,
.dmc-btn--loading {
	@apply !shadow-none !opacity-50 !cursor-not-allowed !transform-none;
}
.dmc-btn::after,
.dmc-btn::before,
.dmc-btn-loader {
	@apply absolute top-0 left-0 w-full h-full rounded-s-[inherit];
}
.dmc-btn::after {
	@apply bg-transparent border border-current opacity-80;
}
.dmc-btn--outline::after {
	content: '';
}
.dmc-btn::before {
	@apply bg-black opacity-0;
	content: ' ';
}
.dmc-btn,
.dmc-btn::before,
.dmc-btn::after,
.dmc-btn * {
	@apply transition-all duration-200 ease-in-out;
}
.dmc-btn-content,
.dmc-btn-loader {
	@apply flex z-10;
}
.dmc-btn-loader {
	@apply top-full items-center justify-center;
}
.dmc-btn--loading {
	.dmc-btn-content {
		@apply translate-y-[calc(-100%-3*var(--spacing))];
	}
	.dmc-btn-loader {
		@apply top-0;
	}
}
.dmc-btn-section {
	@apply flex items-center justify-center;
	& > svg {
		@apply block;
	}
}
.dmc-btn:not(.dmc-btn--icon) .dmc-btn-section {
	&:is(*:first-child) {
		@apply mr-3;
	}
	&:is(*:last-child) {
		@apply ml-3;
	}
}
.dmc-btn:not(
		:disabled,
		.dmc-btn--disabled,
		.dmc-btn--loading,
		.dmc-btn--text
	):hover::before {
	@apply opacity-15;
}
.dmc-btn:not(
		:disabled,
		.dmc-btn--disabled,
		.dmc-btn--loading,
		.dmc-btn--text
	):focus::before {
	@apply opacity-20;
}
.dmc-btn:not(
		:disabled,
		.dmc-btn--disabled,
		.dmc-btn--loading,
		.dmc-btn--text
	):active::before {
	@apply opacity-25;
}

.dmc-btn--outline,
.dmc-btn--plain,
.dmc-btn--text {
	@apply !bg-transparent;
}
.dmc-btn--tonal {
	background-color: color-mix(
		in srgb,
		currentColor 20%,
		transparent
	) !important;
}
.dmc-btn--plain,
.dmc-btn--text {
	&::before {
		@apply bg-current;
	}
}
.dmc-btn--flat {
	@apply !shadow-none;
}
.dmc-btn--outline:not(
		:disabled,
		.dmc-btn--disabled,
		.dmc-btn--loading
	):hover::after {
	@apply opacity-100;
}
.dmc-btn--text,
.dmc-btn--plain {
	.dmc-btn-label {
		@apply opacity-80;
	}
}
.dmc-btn--text,
.dmc-btn--plain {
	&:not(:disabled, .dmc-btn--disabled, .dmc-btn--loading) {
		&:hover,
		&.dmc-btn--active {
			.dmc-btn-label {
				@apply opacity-100;
			}
		}
	}
}
.dmc-btn--active:not(.dmc-btn--disabled, :disabled) {
	@apply shadow-md;
	&::before {
		@apply !bg-current !opacity-20;
	}
}

.dmc-btn--xs {
	@apply text-xs px-2 py-1;
}
.dmc-btn--sm {
	@apply text-sm px-3 py-1;
}
.dmc-btn--lg {
	@apply text-lg px-6 py-3;
}

.dmc-btn--icon,
.dmc-btn--round {
	@apply px-0;
}

.dmc-btn--block {
	@apply w-full;
}
.dmc-btn--rounded {
	@apply rounded-full;
}
.dmc-btn--square {
	@apply rounded-none;
}
.dmc-btn--round {
	@apply rounded-[50%] min-w-8 min-h-8;
}

.dmc-btn--primary,
.dmc-btn--secondary,
.dmc-btn--accent,
.dmc-btn--success,
.dmc-btn--warning,
.dmc-btn--info,
.dmc-btn--danger,
.dmc-btn--dark {
	@apply text-white;
}

.dmc-btn--primary {
	@apply bg-primary;
	&:where(.dmc-btn--tonal, .dmc-btn--outline, .dmc-btn--text, .dmc-btn--plain) {
		@apply text-primary;
	}
}

.dmc-btn--secondary {
	@apply bg-secondary;
	&:where(.dmc-btn--tonal, .dmc-btn--outline, .dmc-btn--text, .dmc-btn--plain) {
		@apply text-secondary;
	}
}

.dmc-btn--accent {
	@apply bg-accent;
	&:where(.dmc-btn--tonal, .dmc-btn--outline, .dmc-btn--text, .dmc-btn--plain) {
		@apply text-accent;
	}
}

.dmc-btn--success {
	@apply bg-success;
	&:where(.dmc-btn--tonal, .dmc-btn--outline, .dmc-btn--text, .dmc-btn--plain) {
		@apply text-success;
	}
}

.dmc-btn--warning {
	@apply bg-warning;
	&:where(.dmc-btn--tonal, .dmc-btn--outline, .dmc-btn--text, .dmc-btn--plain) {
		@apply text-warning;
	}
}

.dmc-btn--info {
	@apply bg-info;
	&:where(.dmc-btn--tonal, .dmc-btn--outline, .dmc-btn--text, .dmc-btn--plain) {
		@apply text-info;
	}
}

.dmc-btn--danger {
	@apply bg-danger;
	&:where(.dmc-btn--tonal, .dmc-btn--outline, .dmc-btn--text, .dmc-btn--plain) {
		@apply text-danger;
	}
}

.dmc-btn--dark {
	@apply bg-dark;
	&:where(.dmc-btn--tonal, .dmc-btn--outline, .dmc-btn--text, .dmc-btn--plain) {
		@apply text-dark;
	}
}
