.selectHeader,
.selectCell {
	min-width: var(--table-select-column-width, 2.75rem);
	padding-inline: calc(var(--table-horizontal-spacing, 0.5rem) / 2) !important;
	padding-block: 0 !important;
	white-space: nowrap;
	vertical-align: middle;
	position: relative;
	overflow: visible;
	box-sizing: border-box;
	text-align: center;
}

.selectCellInner,
.selectHeaderInner {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100%;
}

.selectBulkOverlay {
	position: absolute;
	inset-block: 0;
	inset-inline-start: 100%;
	display: flex;
	align-items: center;
	padding-inline-start: 4px;
	z-index: 2;
}
