@reference "@style";

.dmc-list {
	@apply flex flex-col overflow-auto;
	--indent-padding: 0rem;
}
.dmc-list--visible {
	@apply overflow-visible;
}
.dmc-list-items {
	--parent-padding: var(--indent-padding, 0rem);
}
.dmc-list-items .dmc-list {
	--indent-padding: calc(
		var(--parent-padding, 0rem) + var(--spacing, 0.25rem) *
			var(--padding-multiplier, 3)
	);
}
.dmc-list--bordered {
	@apply border border-color;
}
.dmc-list--separator {
	.dmc-item:not(:first-child) {
		@apply border-t border-color;
	}
	.dmc-item--opened + .dmc-list-items {
		@apply border-t border-color;
	}
}

.dmc-list--striped > *:nth-of-type(odd) {
	@apply bg-gray-100 dark:bg-gray-600;
}
