@reference "@style";

.dmc-item {
	@apply flex flex-nowrap relative min-h-12 gap-3 py-2 text-inherit cursor-default;
	--padding-multiplier: 3;
	padding-inline-start: calc(
		var(--spacing, 0.25rem) * var(--padding-multiplier, 3) +
			var(--indent-padding, 0rem)
	);
	padding-inline-end: calc(
		var(--spacing, 0.25rem) * var(--padding-multiplier, 3)
	);
}
.dmc-item,
.dmc-item::before,
.dmc-item::after,
.dmc-item * {
	@apply transition-all ease-in-out duration-300;
}
.dmc-item--vertical {
	@apply flex-col;
}
.dmc-item--active {
	@apply text-primary;
}
.dmc-item--clickable {
	@apply cursor-pointer;
}
.dmc-item--disabled,
.dmc-item:has(input:disabled) {
	@apply cursor-not-allowed opacity-60;
}
.dmc-item--bordered {
	@apply border border-color;
}

.dmc-item---vertical {
	@apply gap-2;
}

.dmc-item--dense,
.dmc-list--dense .dmc-item {
	@apply min-h-8 gap-2 py-1;
	--padding-multiplier: 3;
	&.dmc-item---vertical {
		@apply gap-1;
	}
}
.dmc-item--opened .dmc-item__chevron {
	@apply rotate-90;
}

.dmc-item--hoverable::before {
	@apply absolute top-0 left-0 w-full h-full bg-current opacity-0;
	content: ' ';
}
.dmc-item--hoverable:not(
		.dmc-item--disabled,
		:has(input:disabled),
		:disabled
	):hover::before {
	@apply opacity-15;
}

.dmc-item__section {
	@apply flex flex-col justify-center items-start gap-1 w-auto h-auto min-w-0 max-w-full;
}
.dmc-item__section--row.dmc-item__section--end {
	@apply justify-end;
}
.dmc-item__section--main {
	@apply flex-1;
}
.dmc-item__section--top {
	@apply justify-start;
}
.dmc-item__section--nowrap {
	@apply flex-nowrap;
}
.dmc-item__section--thumbnail {
	img,
	svg {
		@apply max-h-14 max-w-24 h-auto w-auto;
	}
}
.dmc-item__section--end,
.dmc-item__section ~ .dmc-item__section--side {
	@apply items-end;
}
.dmc-item__section--row {
	@apply flex-row items-center;
}
.dmc-item__section--side > .dmc-icon {
	@apply text-2xl/none;
}
.dmc-item__section--avatar {
	@apply min-w-12 items-center;
}

.dmc-item > .dmc-item__section--thumbnail:first-child {
	@apply -ml-3;
}
.dmc-item > .dmc-item__section--thumbnail:last-of-type {
	@apply -mr-3;
}

.dmc-item__section--main.dmc-item__section--thumbnail {
	@apply ml-0 -mr-3;
}
.dmc-item--dense,
.dmc-list--dense .dmc-item {
	& > .dmc-item__section--thumbnail:first-child {
		@apply -ml-2;
	}
	& > .dmc-item__section--thumbnail:last-of-type {
		@apply -mr-2;
	}
	& > .dmc-item__section--main.dmc-item__section--thumbnail {
		@apply -mr-2;
	}
}

.dmc-item__label {
	@apply max-w-full;
}
.dmc-item__label--header {
	@apply px-3 opacity-65;
}
.dmc-item__label--overline {
	@apply text-xs font-medium tracking-widest uppercase opacity-70;
}
.dmc-item__label--caption {
	@apply text-xs font-normal opacity-60;
}
.dmc-item__label--lines {
	@apply truncate;
}
