@reference "@style";

.dmc-table {
	@apply w-full border-collapse border-spacing-0 table-auto border-color;
}
.dmc-table,
.dmc-table *,
.dmc-table *::before,
.dmc-table *::after {
	@apply transition-all duration-200 ease-in-out;
}

.dmc-table-tr {
	@apply relative border-color;
	&::after {
		@apply absolute left-0 top-0 w-full h-full pointer-events-none -z-10 bg-current opacity-0;
		content: '';
	}
}

.dmc-table-td,
.dmc-table-th {
	@apply border-color px-4 py-2;
}

.dmc-table-td {
}
.dmc-table-th {
	@apply select-none font-medium text-base;
}

.dmc-table-thead {
}
.dmc-table-tbody {
}
.dmc-table-tfoot {
}

.dmc-table--striped {
	.dmc-table-tbody > :where(tr):nth-of-type(odd) {
		@apply after:opacity-10;
	}
}
.dmc-table--hover {
	.dmc-table-tbody > :where(tr):not(.dmc-no-hover):hover {
		@apply after:opacity-15;
	}
}
.dmc-table--dense {
	.dmc-table-td,
	.dmc-table-th {
		@apply px-2 py-1;
		&:first-child {
			@apply pl-4;
		}
		&:last-child {
			@apply pr-4;
		}
	}
}

.dmc-table--row-border .dmc-table-tr {
	@apply border-b;
}

.dmc-table--col-border {
	.dmc-table-td,
	.dmc-table-th {
		&:not(:last-child) {
			@apply border-r;
		}
	}
}
.dmc-table--border {
	@apply border;
}
.dmc-table-tbody .dmc-table-tr:last-child {
	@apply border-b-0;
}

.dmc-table--fixed {
	@apply table-fixed;
}
.dmc-table--auto {
	@apply table-auto;
}

.dmc-table-td-title {
	display: none;
}

.dmc-table--show-title {
	.dmc-table-td-title {
		display: block;
	}
}
